* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: white;
}

.container {
    max-width: 1366px;
    width: 100%;
    padding: 0 5%;
    margin: 0 auto;
    text-align: center;
}

h1 {
    margin-top: 80px;
    font-size: 50px;
}

#moveMonth {
    margin: 0 30%;
    display: flex;
    justify-content: space-around;
}

h2 {
    margin: 0;
    font-size: 35px;
}

.btn {
    height: 40px;
    width: 45px;
    font-weight: bold;
    background-color: rgb(200, 204, 211);
    border: 1px solid gray;
    transition: 0.2s;
}

.btn:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(134, 136, 140);
}

table {
    margin: 20px auto;
    border: 1px solid gray;
}

td {
    border: 1px solid gray;
    padding: 12px 22px;
}

td:first-child {
    color: red;
}

td:last-child {
    color: blue;
}

tr:first-child td{
    padding: 5px 22px;
    font-weight: bold;
    background-color: rgb(200, 204, 211);
}

#today {
    background-color: rgb(211, 219, 234);
}

.delete {
    display: none;
}

/*todoリスト*/
#mask {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: fixed;
    background-color: black;
    opacity: 0.8;
    z-index: 2;
}

.open {
    display: block;
}

#note {
    position: fixed;
    top: 5%;
    left: -700px;
    min-width: 250px;
    width: 50%;
    height: 80%;
    font-size: 15px;
    background-color: white;
    border: 1pt solid rgb(122, 120, 120);
    border-radius: 10px;
    transition: all 0.5s;
    z-index: 3;
}

#note.open {
    left: 30px;
}

#output {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    overflow: scroll;
}

.noteData {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 15px auto;
    padding: 7px;
    background-color: rgb(223, 227, 235);
    font-weight: bold;
}

.deleteBtn {
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    border-radius: 5px;
}

.deleteBtn:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(134, 136, 140);
}

#input {
    display: flex;
    width: 100%;
    height: 8%;
    margin-top: 15px;
}

#input div {
    background-color: white;
    padding: 12px 0;
    font-size: 12px;
    text-align: center;
}

select {
    width: 4%;
    height: 100%;
    border: none;
    text-align: right;
    /*以下3行でプルダウンの矢印を消す*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select:nth-child(1) {
    width: 8%;
}

#yearSelect {
    border-radius: 5px 0 0 5px;
}

textarea {
    width: 60%;
    height: 100%;
    padding: 2%;
    font-size: 17px;
    border: none;
    border-radius: 0 5px 5px 0;
    resize: none;
}

#saveBtn {
    width: 17%;
    height: 100%;
    margin-left: 2%;
    background-color: rgb(245, 167, 167);
    border-radius: 5px;
    transition: 0.2s;
}

#saveBtn:hover {
    cursor: pointer;
    background-color: rgb(182, 126, 126);
}

#addBtn {
    position: fixed;
    top: 5%;
    right: 10%;
    width: 70px;
    height: 70px;
    font-size: 40px;
    font-weight: bold;
    background-color: rgb(153, 183, 233);
    border: 1px solid gray;
    border-radius: 100%;
    transition: 0.4s;
}

#addBtn:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(129, 153, 194);
    transform: scale(1.1);
}

/*予定がある日に下線を引く*/
.paint {
    cursor: pointer;
    box-shadow: 0 -12px rgb(245, 167, 167) inset; /*borderだとセルの大きさが変わってしまうため、border-shadowで指定*/
}

/*予定がある日のセルをクリックしてリストを開くと、該当日の予定のみ色が変わる*/
.colorNote {
    background-color: rgb(233, 233, 153);
}
